 .header-menu li a {
     text-decoration: none;
     color: #4B4B4B;
     font-family: 'Inter', sans-serif;
     font-size: clamp(.5rem, 2vh, 2rem);
 }

 .text-content-hero h1 {
     font-family: 'Inter', sans-serif;
     font-size: clamp(1rem, 4vh, 5rem);
     color: white;
 }

 .text-content-hero h2 {
     font-family: 'Inter', sans-serif;
     font-size: clamp(.5rem, 2.5vh, 3rem);
     color: white;
 }

 /* footer font */
 .techondemand-footer p {
     font-size: clamp(.4rem, 0.5vw, 1rem);
     font-family: "Space Mono", monospace;
     color: #4B4B4B;
     font-weight: bold;
 }

 .techondemand-footer .request-quote button {
     color: white;
     font-family: 'Inter', sans-serif;
 }

 /* bullet of services fonts */
 .services-title h1 {
     color: #f5f5dc;
     font-family: 'Inter', sans-serif;
     font-size: clamp(1rem, 6vw, 5rem);
     font-weight: normal
 }

 .topic-left h2,
 .topic-right h2 {
     font-size: clamp(.8rem, 4vw, 3rem);
     /* min ~20px, scales, max ~48px */
     font-family: 'Inter', sans-serif;
     color: #f5f5dc;
 }

 .topic-left p,
 .topic-right p {
     font-size: clamp(.5rem, 2.5vw, 1.5rem);
     /* min ~16px, scales, max ~24px */
     color: #f5f5dc;
     font-family: 'Inter', sans-serif;
 }

 /*google reviews section */
 .reviews-header h2 {
     font-size: clamp(1rem, 6vw, 5rem);
     font-family: 'Inter', sans-serif;
     color: #4B4B4B;
 }

 .reviews-header h3 {
     font-size: clamp(.8rem, 4vw, 3rem);
     /* min ~20px, scales, max ~48px */
     font-family: 'Inter', sans-serif;
     color: #4B4B4B;
 }

 .submenu a:link,
 .submenu a:visited,
 .submenu a:hover,
 .submenu a:active {
     color: #f5f5dc;
     font-family: 'Inter', sans-serif;
     font-size: clamp(.5rem, .8rem, 2rem);
     text-decoration: none;
     /* optional, removes underline */
 }

 /*services page*/
 .homeAutomation h1,
 .securityANDaccess h1 {
     color: #f5f5dc;
     font-family: 'Inter', sans-serif;
     font-size: clamp(.8rem, 4vw, 3rem);
     font-weight: normal;
 }

 .networking h1,
 .entertainment h1,
 .electrical h1 {
     color: #4B4B4B;
     font-family: 'Inter', sans-serif;
     font-size: clamp(.8rem, 4vw, 3rem);
     font-weight: normal;
 }

 /* ABOUT US page*/
 .about-us h1 {
     color: #f5f5dc;
     font-family: 'Inter', sans-serif;
     font-size: clamp(.8rem, 4vw, 3rem);
     font-weight: bold;
 }

 .about-us p {
     font-family: 'Inter', sans-serif;
     font-size: clamp(.5rem, 2.5vw, 1.5rem);
     /* min ~16px, scales, max ~24px */
     font-weight: normal;
 }

 .team h1 {
     color: #4B4B4B;
     font-family: 'Inter', sans-serif;
     font-size: clamp(.8rem, 4vw, 3rem);
     font-weight: bold;
 }

 .employeecard h2 {
     font-size: clamp(1rem, 3vw, 3rem);
     font-family: 'Inter', sans-serif;
     color: #f5f5dc;
     margin-bottom: 2vh;
 }

 .employeecard p {
     color: #f5f5dc;
     font-family: 'Inter', sans-serif;
     font-size: clamp(.5rem, 2.5vw, 1.5rem);
     /* min ~16px, scales, max ~24px */
     font-weight: normal;
 }

 /* contact us page */

 .contact-us h1 {
     color: #f5f5dc;
     font-family: 'Inter', sans-serif;
     font-size: clamp(.8rem, 4vw, 3rem);
     font-weight: bold;
 }

 .contact-us h2 {
     color: #f5f5dc;
     font-family: 'Inter', sans-serif;
     font-size: clamp(.5rem, 3vw, 1.5rem);
     /* min ~16px, scales, max ~24px */
     font-weight: normal;
 }

 .contact-us p {
     color: #f5f5dc;
     font-size: clamp(.5rem, 2.5vw, 1.5rem);
     /* min ~16px, scales, max ~24px */
     font-weight: normal;
 }

 a.phonenumber {
     text-decoration: none;
     color: #f5f5dc;
     font-family: 'Inter', sans-serif;
     font-size: clamp(.8rem, 1vw, 3rem);
     font-weight: normal;
 }

 /*Site map*/

 .sitemap h2,
 .sitemap h4 a {
     color: #f5f5dc;
     font-family: 'Inter', sans-serif;
     font-weight: bold;
     text-decoration: none;
     font-size: clamp(.8rem, 1vw, 3rem);
 }

 .sitemap p a {
     color: #f5f5dc;
     font-family: 'Inter', sans-serif;
     font-weight: bold;
     text-decoration: none;
     font-size: clamp(.8rem, .8vw, 2rem);
 }

 /* packages */

 .tile h1,
 .tile h2 {
     color: #4B4B4B;
     font-family: 'Inter', sans-serif;
     font-weight: bold;
     font-size: clamp(.5rem, 2vh, 3rem);
 }

 .content2 h1{
     color: #4B4B4B;
     font-family: 'Inter', sans-serif;
     font-weight: bold;
     font-size: clamp(.5rem, 2vh, 3.5rem);
 }

 .content2 h2 {
     color: #4B4B4B;
     font-family: 'Inter', sans-serif;
     font-weight: bold;
     font-size: clamp(.5rem, 2vh, 3.5rem);
 }

 .content1 p,
 .content2 p {
     font-size: clamp(.8rem, 1.4vw, 2.5rem);
 }

 .content1 p {
     color: #4B4B4B;
     font-family: 'Inter', sans-serif;
     font-size: clamp(.8rem, 1.4vw, 3rem);
 }

 .content1 h6 {
     color: #4B4B4B;
     font-family: 'Inter', sans-serif;
     font-style: italic;
     font-size: clamp(.8rem, 1vw, 2rem);
 }

 .packlist h3 {
     color: #f5f5dc;
     font-family: 'Inter', sans-serif;
     font-weight: bold;
     font-size: clamp(.8rem, 2vw, 3rem);
 }

 .packlist h4 {
     color: #f5f5dc;
     font-family: 'Inter', sans-serif;
     font-weight: bold;
      font-size: clamp(.8rem, 2vw, 3rem);
 }

 .packlist h5 {
     color: #f5f5dc;
     font-family: 'Inter', sans-serif;
     font-weight: bold;
 }

 .packlist li{
     font-size: clamp(.8rem, 1.5vw, 3rem);
 }

 .packlist li p {
     color: #f5f5dc;
     font-family: 'Inter', sans-serif;
     font-style: italic;
 }

 .secondarylist ul {
     color: #f5f5dc;
     font-family: 'Inter', sans-serif;
     font-size: clamp(.8rem, .8vw, 2rem);
 }

 .addons1 h1 {
     color: #4B4B4B;
     font-family: 'Inter', sans-serif;
     font-weight: bold;
     font-size: clamp(.5rem, 4vh, 5rem);
 }

 .addons1 h2 {
     color: #4B4B4B;
     font-family: 'Inter', sans-serif;
     font-weight: bold;
     font-size: clamp(.5rem, 3vh, 5rem);
 }

 .addons1 p {
     color: #4B4B4B;
     font-family: 'Inter', sans-serif;
     font-size: clamp(.8rem, 1.2vw, 3rem);
 }

 .tile {
     color: #4B4B4B;
 }

 .headlist h3,
 .headlist h4,
 .headlist li {
     color: #4B4B4B;
 }