#parallaxvideo { background-attachment:fixed; background-position: center; background-size:cover; min-height:38vw; width: 100%; display: flex; flex-direction:column; justify-content:center; text-align:center; color:#fff; text-shadow:#000 0 2px 2px; padding-bottom:4%; padding-top:10%; margin:0; white-space:pre-line;} 
#parallaxvideo h1 { width:50%; margin:0 auto; margin-bottom:0; border-bottom: 3px solid ; border-image: linear-gradient(to left, transparent, transparent 10%,rgba(255,255,255,1)); border-image-slice: 1; font-size:3.3vw;}
#parallaxvideo h2 { width:60%; margin:0 auto; margin-top:1rem; font-size:1.2vw;}
#parallaxvideo video{height:0 auto; width:100%; position:fixed; top:0; z-index:-450;}

.index-header-title { color:#fff; font-size:17px; text-shadow:#000 0 2px 2px; text-align:center; margin:auto; margin-bottom:0; width:100%; 
background: linear-gradient(rgba(150, 150, 150, 0.50), rgba(250, 250, 250, 0.40));}
.index-header-title h2 {font-size:2.3vw;}

#introservice {display:flex; flex-direction:row; justify-content:space-around; width:100%; margin:auto;  margin-bottom:3%; margin-top:0; gap:2vh; padding: 2.2% 1% 5% 1%; 
background: linear-gradient( rgba(150, 150, 150, 0.40) 17%, rgba(250, 250, 250, 0.5)); box-shadow:#000 0 6px 12px;  }

.homenet, .smallbus, .elec, .entertain, .secure { display:flex; flex-direction:column; display: grid; grid-template-rows: auto auto 1fr auto; align-content:center; background-color:#fff; padding:1.3%; flex:1; box-shadow: 0 3px 8px; border-radius:12px;}

.homenet h3, .smallbus h3, .elec h3, .entertain h3, .secure h3 { width:100%; font-size:3.1vh; text-align:center; margin: 0; min-height: 4em; border-bottom: 1.5px solid #000;}
.homenet p, .smallbus p, .elec p, .entertain p, .secure p { width:100%; margin:auto; font-size:2.2vh;}
.homenet a, .smallbus a, .elec a, .entertain a, .secure a { text-align:center; width:100%; margin:auto; padding:2%; background-color:#666; transition:ease-in .1s; border-radius:12px; color:#fff; }
.homenet a:hover, .smallbus a:hover, .elec a:hover, .entertain a:hover, .secure a:hover {color:#000; position:relative;}
.homenet img, .smallbus img, .elec img, .entertain img, .secure img{ display:inline-block; width:85%; padding:2%; margin:auto;} 

.homenet { background: linear-gradient(rgba(140, 140, 140, 0.90), rgba(230, 230, 230, 0.80)), url(../images/young-black-woman-pulling-out-lan-cable-from-modem.jpg); background-position:bottom; background-repeat: none; background-size:cover;}
.smallbus { background: linear-gradient(rgba(140, 140, 140, 0.90), rgba(230, 230, 230, 0.80)), url(../images/pexels-elevate-1267348.jpg); background-position:center; background-repeat: none; background-size:cover;}
.elec {background: linear-gradient(rgba(140, 140, 140, 0.90), rgba(230, 230, 230, 0.80)), url(../images/pexels-timmossholder-942316.jpg); background-position:center; background-repeat: none; background-size:cover;}
.entertain {background: linear-gradient(rgba(140, 140, 140, 0.90), rgba(230, 230, 230, 0.80)), url(../images/pexels-pixabay-373638.jpg); background-position:center; background-repeat: none; background-size:cover;}
.secure {background: linear-gradient(rgba(140, 140, 140, 0.90), rgba(230, 230, 230, 0.80)), url(../images/pexels-obi-onyeador-1787470-13031873.jpg); background-position:center; background-repeat: none; background-size:cover;}

.carousel .index-header-title { background:none; }
.carousel { overflow: hidden; width: 100%; padding: 2% 0; margin:auto; background: linear-gradient(rgba(140, 140, 140, 0.90), rgba(230, 230, 230, 0.80)); }
.carousel-track {display: flex; width: max-content; animation: scroll 20s linear infinite; gap: 2vw;}
.carousel-track img { width: 16vw; max-width: 23vw; object-fit: contain; flex-shrink: 0;}
/* Animation */
@keyframes scroll {
from {transform: translateX(0);}
to {transform: translateX(-50%);}
}

.openFormBtn { margin:2% auto; padding:2% 6% 2% 6%; font-size:2.5vh;}

.column img { margin-top: 4%; vertical-align: middle; width: 100%;}

#reviews { display: flex; flex-direction: column; justify-content: center; align-items: center; padding-top: 2%; margin-top: 3.3vw;
background: linear-gradient(rgba(50, 50, 50, 0.7), rgba(100, 100, 100, 0.5)), url(../images/leafs.jpg); background-position:center; background-repeat: none; background-size:cover; box-shadow:#000 0 3px 12px;}
#reviews h2 {padding-bottom: 3vh; word-break:loose; text-align:center; color:#fff; text-shadow:#333 0 2px 2px; font-size:40px;}

@media (max-width: 760px) { 

#parallaxvideo { min-height:100vw; width: 100%; display: flex; padding-top:42%; } 
#parallaxvideo h1 { width:80%; margin:0 auto; font-size:7vw;  padding:1.5%;}
#parallaxvideo h2 { width:80%; margin:1% auto; font-size:4.2vw; text-align:center;}
#parallaxvideo video{ height:100%; width:100%; position:fixed; top:0; z-index:-450; object-fit: cover; filter:blur(4px);}

.index-header-title {padding-left:2%; padding-right:2%;}
.index-header-title h2 {font-size:4vh;}

#introservice {display:flex; flex-direction:column; justify-content:space-around; width:100%; margin:auto; margin-top:0; gap:2.4vh; padding: 2.2% 1% 5% 1%; 
background: linear-gradient( rgba(150, 150, 150, 0.40) 17%, rgba(250, 250, 250, 0.5)); box-shadow:#000 0 6px 12px; margin-bottom:8%; }
.homenet, .smallbus, .elec, .entertain, .secure { display:flex; flex-direction:column; align-content:center; background-color:#fff; padding:1%; flex:1; box-shadow: 0 3px 8px; border-radius:12px;}

.homenet, .smallbus, .elec, .entertain, .secure {padding: 4%;}

.homenet h3, .smallbus h3, .elec h3, .entertain h3, .secure h3 { font-size:22px; border-bottom: 2px solid #000;}
.homenet img, .smallbus img, .elec img, .entertain img, .secure img{ width:75%; padding:1%;} 

#brands { display:flex; flex-direction:column; justify-content:space-around; align-content:center; margin:auto; width:100%  padding-top:8%; background: linear-gradient(rgba(150, 150, 150, 0.8), rgba(250, 250, 250, 0.9));}
#brands .index-header-title {font-size:1.7vw;}
#brands img {width:80%; margin:auto; padding:6% 0 6% 0; box-sizing:border-box;}
.column {flex: 50%; max-width: 75%; padding: 3%; margin:auto;}


.carousel .index-header-title { background:none;}
.carousel .index-header-title h2 {font-size:8vw;  margin-bottom:5%;}
.carousel {overflow: hidden; width: 100%; padding: 2% 0; margin:auto; background: linear-gradient(rgba(140, 140, 140, 0.90), rgba(230, 230, 230, 0.80));  padding-bottom:12%;  margin-bottom:5%; }
.carousel-track {display: flex; width: max-content; animation: scroll 20s linear infinite; gap: 2vw;}
.carousel-track img { width: 37vw; max-width: 60vw; object-fit: contain; flex-shrink: 0;}
/* Animation */

@keyframes scroll {
from {transform: translateX(0);}
to {transform: translateX(-50%);}
}


#reviews { display:block; padding-top: 2%; margin-top: 3.3vw; background: none; box-shadow:none; width:90%; text-align:center; margin:auto; position:relative; }
#reviews h2 {padding-bottom: 2.5vh; color:#fff; text-shadow:#333 0 2px 2px; font-size:40px; text-align:center;}


}
