 /* Index.html body styling */

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-wrap: break-word;
    gap: 5vw;
    margin: 1vh auto 1vh auto;
    z-index: 1;
    max-width: 80vw;
    max-height: 64vh;
    width: 100vw;
    height: auto;
    margin-bottom: 5vh;
    margin-top: 10vh;

}

 /* main page image - to be replaced with a slideshow*/

 .slideshow {
    position: relative;
    width: 45vw;
    height: 45vh;
    border-radius: 25px;
    overflow: hidden;
 }

 .slideshow img{
   position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit:cover; /* instead of cover */
  opacity: 0;
  transition: opacity 1s ease-in-out;
  border-radius: 15px;
  background-color: black; /* optional, shows behind smaller images */
 }
 .slideshow img.active {
  opacity: 1;
}

 /*Hero text section - beside image*/
 .text-content-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
       background-color: rgba(80, 153, 236, 0.2);
    border-radius: 15px;
    height: 45vh;
    width: 45vw;
    z-index: 1;
 }

 .text-content-hero h1 {
    padding-bottom: 10px;
    margin-top: 1.2vh;
    justify-content: center;
    text-align: center;
    margin-bottom: 1.5vh;
    margin-left: 1.5vw;   
    margin-right: 1.5vw;
 }

 .text-content-hero h2 {
    text-align: center;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    margin-top: 1.5vh;
 }

/* services section */
.services-title{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    width: 100%;
    margin: 5vh auto;
    padding: 5vh 0;
   background-color: slategray;
    border-radius: 15px;
 }

  .services-title h1{ 
   align-items: center;
   text-decoration: underline;

 }

 .network, .climate, .security, .entertainment, .smrtlight {
    display: flex;
  flex-direction: column;   /* stack subsections vertically */
  width:100%;
  margin: 0 auto 3vh auto;  /* center and add spacing */
 }

 .topic-item {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 1.5vw;
   margin-top: 3vh;
 }

 .topic-left {
  flex: 0 0 50%;            /* fixed width column */
  display: flex;
  flex-direction: column;   /* stack header + image */
  align-items: center;      /* center image + text */
  justify-content: center;
  border-radius: 15px;
  padding: 1vh 0 1vh 0;
  text-align: center;

}

.topic-left h2 {
   margin: 2vh 0 1vh 0;
}

.topic-left img {
   max-width: 100%;
   height: auto;
}
.topic-right img {
   max-width: 100%;
   height: auto;
}
.topic-right {
  flex: 0 0 50%;            /* fixed width column */
  display: flex;
  flex-direction: column;   /* stack header + image */
  align-items: center;      /* center image + text */
  justify-content: center;
  border-radius: 15px;
  padding: 1vh 0 1vh 0;
  text-align: center;
}

 /*
.topics{
   display:flex;
flex-direction: column;
gap: 2vh;
margin: 1.5vh 2vw 1.5vh 2vw;
width: 80vw;
height: auto;
}

.topic-item {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1.5vw;
   width: 100%;
}

.topic-item h2 {
   text-align: right;
   flex: 0 0 30%;
   margin: 0;
}
.topic-item h3 {
   text-align: center;
   flex: 0 0 5%;
}

.topic-item p{
   text-align: left;
   flex: 1;
   margin: 0;
}
   */
 /* scope is no longer required - to be removed
 .scope-list {
    justify-self: start;
 }

 .scope-list ul {
    list-style-type: none;
    text-align: left;
    margin-left: 3.5vw;
    margin-bottom: 2vh;
 }

 .scope-list ul li {
    position: relative;
    padding-left:3.5vw;
    line-height: 1.2;
}

.scope-list ul li:nth-of-type(1)::before {
    content: '💡';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    text-align: center;
}

.scope-list ul li:nth-of-type(2)::before {
    content: "💻";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    text-align: center;
}


.scope-list ul li:nth-of-type(3)::before {
    content: '🔌';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    text-align: center;
}

.scope-list ul li:nth-of-type(4)::before {
    content: '📱';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    text-align: center;
}
*/

 /* blog section - below image and Hero statement*/
.blog {
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    width: 80vw;
    height: auto;;
    padding: 0px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.7)60%, rgba(220, 246, 220, 0.7) 85%, rgba(210, 247, 210, 0.7) 98%), url('../images/solar-field.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    padding-bottom: 3vh;
    margin-bottom: 5vh;
}

.blog .blog-title {
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;

}

.blog .blog-main {
    display: flex;
    justify-items: center;
    align-items: left;
    flex-direction: column;
    margin-left: 7%;
    margin-right: 7%;
}

.blog-main h1 {
    margin-bottom: 2vh;
 }

 .blog-main h2 {
    margin-bottom: 2vh;
 }

 .blog-main p {
    margin-bottom: 2vh;
 }

 .blog-main ul {
    margin-bottom: 2vh;;
 }

 .blog-main ul>li {
    margin-bottom: 2vh;
 }

.footer-right img {
   height: auto;
}