

.service-tile, 
.service-tile2 {
    width: 100%; 
   
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 auto;
    padding: 0 0;
    text-align: center;
}

.first-block .btn, 
.second-block .btn {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* set up the image with text */
.row .first-block,
.row .second-block {
    width: 50vw;
    height: auto;
}

.row {
    box-sizing: border-box;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.one, 
.two,
.three,
.four,
.five{
        height: auto;
}
.row img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    align-items: center;
    overflow:hidden;
}

.color2 {
     background-color: rgba(47, 79, 79, .8); 
}

.text-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 80%;
}