.first-block,
.second-block {

    display: flex;
    height: auto;
}
.service-tile, .service-tile2 {
    width: 60%; 
    max-height: 30vh;
    display: flex;
    flex-direction: column;
    margin: 2vh auto 2vh auto;
    padding: 2vh 0;
    text-align: center;
}

.first-block .btn, .second-block .btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.second-block {
    background-color: rgba(47, 79, 79, .8); 
}

.service-tile h1, 
.service-tile p{
    padding-top: 1vh;
    padding-bottom: 1vh;
}
